@model NL_VAS.Entity.LandSettingType

@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-12">
            <div class="card-box">
                <h2>Edit</h2>
                <div class="row">
                    <div class="col-12">
                        <div class="p-20">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)
                            <form class="form-horizontal" role="form">
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">
                                        @Html.LabelFor(model => model.Name)
                                    </label>
                                    <div class="col-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label">
                                        @Html.LabelFor(model => model.Status)
                                    </label>
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.Status)
                                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-2 col-form-label">

                                        @Html.LabelFor(model => model.LandSettingID, "Land Setting Name")
                                    </label>
                                    <div class="col-10">
                                        @Html.DropDownList("LandSettingID", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LandSettingID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <input type="submit" value="Save" class="btn btn-default pull-right" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end row -->

        </div> <!-- end card-box -->
    </div><!-- end col -->

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
