@{
    ViewBag.Title = "Home Page";
}
<style>
    .test {
        background-image: url("../theme/images/gallery/bg.jpg");
        width:auto !important;
        height:auto !important;
    }
</style>

<div class="port">
    <div class="portfolioContainer">
        <div class="col-sm-12 col-lg-12 col-md-12 webdesign illustrator">
            <div class="test" style="padding-top:150px;text-align:center">
                    <h1 style="color:white;">@Html.ActionLink("Land Valuation System", "Index", "Index")</h1>
                <h3 style="color:white">Integrating Decision Support Tools for Land Valuation</h3>

                <div class="row"style="padding-top:200px;padding-left:20px;padding-right:20px;">
                    <div class="col-sm-12">
                        <div>
                            <div class="row">
                                <div class="col-lg-4">
                                        <h3 style="color:white;text-align:justify"><b>Features of Land</b></h3>
                                        <h3 style="color:white;text-align:justify;">@Html.ActionLink("Access", "#", "#")</h3>
                                        <h3 style="color:white;text-align:justify;">@Html.ActionLink("Physical Settings", "#", "#")</h3>
                                        <h3 style="color:white;text-align:justify;">@Html.ActionLink("Productivity", "#", "#")</h3>                                    
                                </div>
                                <div class="col-lg-4">
                                    <h3 style="color:white;text-align:justify"><b>Land Use</b></h3>
                                    <h3 style="color:white;text-align:justify;">@Html.ActionLink("Commercial Land", "#", "#")</h3>
                                    <h3 style="color:white;text-align:justify;">@Html.ActionLink("Agriculture Land", "#", "#")</h3>
                                    <h3 style="color:white;text-align:justify;">@Html.ActionLink("Residential and Others", "#", "#")</h3>
                                </div>
                                <div class="col-lg-4">
                                    <h3 style="color:white;text-align:justify"><b>Other Factor</b></h3>
                                    <h3 style="color:white;text-align:justify;">@Html.ActionLink("Public Utilities", "#", "#")</h3>
                                    <h3 style="color:white;text-align:justify;">@Html.ActionLink("Public Places", "#", "#")</h3>
                                    <h3 style="color:white;text-align:justify;">@Html.ActionLink("Public Services and Others", "#", "#")</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            
    </div>
</div>