@model PagedList.PagedList<NL_VAS.ViewModel.LandUsePViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-sm-6">
                    <div class="m-b-30">
                        <button id="addToTable" class="btn btn-success waves-effect waves-light" onclick="window.location.href='@Url.Action("Create","LandUses")'">Create New <i class="mdi mdi-plus-circle-outline"></i></button>
                    </div>
                </div>
            </div>

            <div class="table-rep-plugin">
                <div class="table-responsive" data-pattern="priority-columns">
                    <table class="table table-striped add-edit-table" id="datatable-editable">
                        <thead>
                            <tr>
                                <th>
                                    Parcel Number
                                </th>
                                <th>
                                    Land Types
                                </th>
                                <th>Setting</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ParcelNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LandType)
                                    </td>
                                    <td>

                                        @foreach (var land in item.Landuse)
                                        {
                                            <p>@land.LandSetting- <bold>@land.Value</bold></p>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total)

                                    </td>
                                    @*<td class="actions">
                                        <a href="@Url.Action("Edit",  new { id=item.id })" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                                        <a href="@Url.Action("Delete",  new { id=item.id }) " class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        <a href="@Url.Action("Details", new { id=item.id })" class="hidden on-editing save-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Details"><i class="fa fa-info"></i></a>
                                    </td>*@
                                </tr>
                            }

                        </tbody>
                    </table>

                    <div class="col-center">
                        @Html.PagedListPager(Model, page => Url.Action("Index", "LandUses", new { page, pageSize = Model.PageSize }))
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>